@model TejInfraFollowUp.Models.ForgotPassword

@{
    Layout = null;
}


<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
    <title>Login</title>
    <!-- Custom CSS -->
    <link href="../../dist/css/style.min.css" rel="stylesheet">
</head>
<body>
    <div class="main-wrapper">

        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>

        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background: url(../../assets/images/big/auth-bg.jpg) no-repeat center center;">
            <div class="auth-box">
                <div class="alert alert-danger" style="display:@ViewBag.errormsg">
                    <button type="button" class="close" data-dismiss="alert" ><span aria-hidden="true">×</span> </button>
                    <div class="logo">
                            <h5 class="font-medium m-b-20">Forgot Password</h5>
                        </div>
                    <h5 class="text-danger"> @TempData["Login"]</h5>
                    
                </div>
                @using (Html.BeginForm("ForgotPassword", "ForgotPassword", FormMethod.Post, new { @id = "signupForm" }))
                {
                     <div id="recoverform">
                           
                    <div class="logo">
                        <span class="db">
                            <img src="../../assets/images/logo-icon.png" alt="logo" /></span>
                        <h5 class="font-medium m-b-20">Recover Password</h5>
                        <span>Enter your Email and instructions will be sent to you!</span>
                    </div>
                </div>
                     <div class="form-group row">
                            <div class="col-12">
                                @Html.TextBoxFor(m => m.LoginId, new { @placeholder="LoginId",@class="form-control"})
                               @* <input class="form-control form-control-lg" type="text"  required="" placeholder="Login Id">*@
                            </div>
                        </div>
                       <div class="form-group row">
                            <div class="col-12">
                                  @Html.TextBoxFor(m => m.EmailId, new { @placeholder="EmailId",@class="form-control"})
                               @* <input class="form-control form-control-lg" type="text"  required="" placeholder="User Name">*@
                            </div>
                        </div>
                      <div class="row m-t-20">
                            <div class="col-12">
                                <input class="btn btn-block btn-lg btn-danger" type="submit" name="btnReset" id="btnReset" value="Reset" onclick="return validatelogin()" />
                              @*  <button class="btn btn-block btn-lg btn-danger" type="submit" name="action" id="reset">Reset</button>*@
                                <a href="/home/index" id="to-login" class="text-dark float-right"><i class="fa fa-lock m-r-5"></i>Back To Login</a>
                            </div>
                        </div>
               
                }
            </div>
        </div>
       
    </div>
  
    <script src="../../assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../../assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="../../assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
        $('[data-toggle="tooltip"]').tooltip();
        $(".preloader").fadeOut();
        // ============================================================== 
        // Login and Recover Password 
        // ============================================================== 
        $('#to-recover').on("click", function () {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });
        $('#to-login').on("click", function () {
            $("#loginform").fadeIn();
            $("#recoverform").slideUp();
        });


        function validatelogin() {
            $(".errortext").removeClass("errortext");
            if ($('#LoginId').val() == '') {
                $("#LoginId").addClass('errortext');
                $('#LoginId').focus();
                return false;
            }
            if ($('#EmailId').val() == '') {
                $("#EmailId").addClass('errortext');
                $('#EmailId').focus();
                return false;
            }

            return true;
        }
    </script>
    <style>
    .errortext {
        border: 1px solid red !important;
        background-color: #f5c1cb !important;
    }
</style>
</body>
</html>