@model TejInfraFollowUp.Models.Admin
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
                <h4 class="page-title"></h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"></a>Admin</li>
                            <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post, new { @id = "form1" }))
    {
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background: url(../../assets/images/big/auth-bg.jpg) no-repeat center center;min-height: 35vh;display: table-cell;">
            <div class="auth-box" style="max-width:1286px;margin:0%">
                <div id="loginform">
                    <div class="logo">

                        <p class="font-medium m-b-20" style="color:red">@TempData["Error"]
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                Old Password<span style="color: red">*</span>
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Old Password" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                New Password<span style="color: red">*</span>
                                @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New Password" })

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                Confirm New Password<span style="color: red">*</span>
                                @Html.TextBoxFor(m => m.ConfirmNewPassword, new { @class = "form-control", @placeholder = "Confirm Password", @onchange = "return CheckConfirmPassword();" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input class="btn btn-success pull-left" type="submit" value="Update" id="Update" name="Update" onclick="return validate();" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>

<script>
    function validate()
    {
        if ($('#Password').val() == '') {
            $("#Password").addClass('errortext');
            $('#Password').focus();
            return false;
        }
        if ($('#NewPassword').val() == '') {
            $("#NewPassword").addClass('errortext');
            $('#NewPassword').focus();
            return false;
        }
        if ($('#ConfirmNewPassword').val() == '') {
            $("#ConfirmNewPassword").addClass('errortext');
            $('#ConfirmNewPassword').focus();
            return false;
        }

    }

    function CheckConfirmPassword()
    {
        $(".errortext").removeClass("errortext");
        if($("#NewPassword").val()!=$("#ConfirmNewPassword").val())
        {
            alert("New Pasword and Confirm Password Should be same");
            $("#NewPassword").addClass("errortext");
            $("#ConfirmNewPassword").addClass("errortext");
            $("#NewPassword").val("");
            $("#ConfirmNewPassword").val("");
            $("#NewPassword").focus();
            $("#ConfirmNewPassword").focus();
        }

    }
</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>
